/******************************************RANDOM SELECTORS************************************/
    
  
    
  img {
    background-color: black;
    
  }
  img:hover {
    background-color:rgba(211, 211, 211, 0);
    opacity: 1000px;
  
  
  }
  
  #main-footer{
    font-size: 18px;
    text-align: center;

  }
  .services-row{
    text-align: left;

    width: 50px;
  }
  /*
  p {
    color:rgba(89, 84, 84, 0.538);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
    font-weight: 10%;
  }
    */
    .back-end{
      background-image: url('wavy-black-white-background.jpg');
      background-repeat: no-repeat; /* Prevents the image from repeating */
      background-size: cover; /* Ensures the image covers the entire page */
      background-position: center; /* Centers the image */
      margin: 0; /* Removes default margin */
      height: 100vh; /* Sets the height to 100% of the viewport */
      background-attachment:scroll;
      height: 420px;
      border-radius: 40px;
      margin-bottom: 10px;
      transition: ease-in-out;
      opacity: 1000%;
      
    }
    .sed{
      border-radius:100px;
      margin-left: 530px;
      height: 120px;
      margin-top:  120px;
      
    }
    
    .black{
      color: black;
      font-weight: 100px;
      cursor: pointer;
      margin-left: 40px;
      margin-top:100px;
      padding-right: 0px;
      padding-left: 0px;
}

  .poer{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(9, 9, 9);
    border-width: 10px;
    width: 50px;

  }
 
  /*
  .first{
    height: 10%;

    width: 5%;
    border-radius: 100px;
    float: left;
    margin-right: 40px;
    margin-left: 0px
  }
    */
    .margink{
      margin-left: 10px;
      margin-top: 1000px;
      
      background-image: url('flat-lay-computer-laptop-isolated-whtie-background.jpg');
      background-repeat: no-repeat; /* Prevents the image from repeating */
      background-size: cover; /* Ensures the image covers the entire page */
      background-position: center; /* Centers the image */
      margin: 0; /* Removes default margin */
      height: 100vh; /* Sets the height to 100% of the viewport */
      
    }
.div-one{
  margin-bottom: 50px;
  margin-left: 160px;
  

}

.div-two{
  margin-left:  350px;
}
.company-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  bottom: 10px;
  margin-left: 40%;
  margin-top: 90px;
  margin-bottom:0%;
  font-weight: lighter;
  font-size:9000;
}
.about-1{
  
padding: 20px 0px 0 20px;
box-shadow: 0px 2px 12px rgba(1, 1, 1, 0.08);
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
line-height: 1.9em;
font-weight: lighter;
text-align: center;


}
.About-2{
  text-align: center;
}
.aside-1{
  background-color: rgb(37, 36, 36);
  color:rgb(245, 245, 245);
  padding: 0px;
  display:flex;
  flex-direction: row;
  font-family:monospace;
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0%;
  padding-bottom: 0%;
  }